# CMake build directory
build/
CMakeFiles/
cmake-build-*
out/
bin/
buildlog.txt

# CCache files
ccache/
.cache/

# CMake GUI arrangements
CMakeLists.txt.user
CMakeLists.txt.old
CMakeCache.txt
cmake_install.cmake

# Project files for other platforms
*.xcodeproj
*.xcworkspace

# Byte-compiled files from Python
__pycache__/
*.pyc

# Compiled object files
*.o
*.d

# Compiled binary files
*.exe
*.dll
*.so
*.dylib

# Other files that should not be part of the repository
*.user
*.a
*.lib
*.ncb
*.sdf
*.sln
*.vcxproj*
*.swp
*.bak
*.orig
*.rej
*.log
*.pdb
*.idb
*.ilk
*.aps
*.pch
*.exp
*.manifest
*.tds
*.tlog
*.svclog
*.pgc
*.pgd
*.bsc
*.res
*.tlb
*.lic
*.sbr
*.pdbx
*.vspscc
*_i.c
*_p.c
*.i
*.ii
*.d.swp
*.o.wasm
*.wasm
*.gcda
*.gcno
*.gcd
*.gcov
*.nmap
*.map

# Files specific to certain IDEs and editors
*.kdev4
*.kdevcore
*.kdevs
*.kdevse
*.tags

# Version control system files
.svn*
.git*
.hg*
.bzr*
